html, body, h1, h2, h3, h4, h5, h6 {font-family: 'Open Sans', 'Helvetica Neue', sans-serif;}

header {
    background-color: lightcoral;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    color: darkred;
}

body {
    background-image: url(Picture/sunset.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

img {
    width: 200px;
}
    
.main {
    flex: 100%;
    background-color: linen;
    padding: 20px;
    text-align: center;
}

.navbar {
    overflow: hidden;
    background-color: lightpink;
}
    
.navbar a {
    float: left; 
    display: block; 
    color: white; 
    text-align: center; 
    padding: 14px 20px; 
    text-decoration: none;
}
    
.navbar a:hover {
    background-color: beige;
    color: black;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: brown;
    color: aliceblue;
    text-align: center;
  }