html, body, h1, h2, h3, h4, h5, h6 {font-family: 'Open Sans', 'Helvetica Neue', sans-serif;}

 * {
   box-sizing: border-box;
    }

header {
    background-color: lightcoral;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    color: darkred;
}

img {
    width: 200px;
}
.navbar {
    overflow: hidden;
    background-color: lightpink;
}

.navbar a {
  float: left; 
  display: block; 
  color: white; 
  text-align: center; 
  padding: 14px 20px; 
  text-decoration: none;
}

.navbar a:hover {
    background-color: beige;
    color: black;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.side {
    flex: 20%;
    background-color: lightcoral;
    padding: 15px;
}

.main {
    flex: 70%;
    background-color: linen;
    padding: 10px;
    text-align: center;
}

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

footer {
    background-color: brown;
    padding: 10px;
    text-align: center;
    color: aliceblue;
}